<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- *** -->
    <!-- API -->
    <!-- *** -->
    <preference for="\Praxigento\BonusHybrid\Api\Dcp\Report\DownlineInterface"
            type="\Praxigento\BonusHybrid\Api\Dcp\Report\Downline"/>
    <preference for="\Praxigento\BonusHybrid\Api\Stats\Phase1Interface"
            type="\Praxigento\BonusHybrid\Api\Stats\Phase1"/>
    <preference for="\Praxigento\BonusHybrid\Api\Stats\Phase2Interface"
            type="\Praxigento\BonusHybrid\Api\Stats\Phase2"/>
    <preference for="\Praxigento\BonusHybrid\Api\Stats\PlainInterface"
            type="\Praxigento\BonusHybrid\Api\Stats\Plain"/>

    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt_bonhyb_cmd_calc" xsi:type="object">\Praxigento\BonusHybrid\Cli\Cmd\Calc</item>
                <item name="prxgt_bonhyb_cmd_forecast" xsi:type="object">\Praxigento\BonusHybrid\Cli\Cmd\Forecast</item>
            </argument>
        </arguments>
    </type>

    <!-- **** -->
    <!-- Repo -->
    <!-- **** -->

    <!-- None -->

    <!-- ******** -->
    <!-- Services -->
    <!-- ******** -->
    <preference for="\Praxigento\BonusHybrid\Service\Calc\Bonus\IPersonal"
                type="\Praxigento\BonusHybrid\Service\Calc\Bonus\Personal"/>
    <preference for="\Praxigento\BonusHybrid\Service\ICalc"
                type="\Praxigento\BonusHybrid\Service\Calc\Call"/>
    <preference for="\Praxigento\BonusHybrid\Service\IPeriod"
                type="\Praxigento\BonusHybrid\Service\Period\Call"/>
    <preference for="\Praxigento\BonusHybrid\Service\Calc\ICompressPhase1"
            type="\Praxigento\BonusHybrid\Service\Calc\CompressPhase1"/>
    <preference for="\Praxigento\BonusHybrid\Service\Calc\Forecast\IPlain"
                type="\Praxigento\BonusHybrid\Service\Calc\Forecast\Plain"/>
    <preference for="\Praxigento\BonusHybrid\Service\Calc\IForecast"
                type="\Praxigento\BonusHybrid\Service\Calc\Forecast"/>
    <preference for="\Praxigento\BonusHybrid\Service\Calc\IPvWriteOff"
                type="\Praxigento\BonusHybrid\Service\Calc\PvWriteOff"/>
    <preference for="\Praxigento\BonusHybrid\Service\Calc\ISignupDebit"
                type="\Praxigento\BonusHybrid\Service\Calc\SignupDebit"/>
    <preference for="\Praxigento\BonusHybrid\Service\Calc\IValueTv"
                type="\Praxigento\BonusHybrid\Service\Calc\ValueTv"/>

    <!-- ***** -->
    <!-- Tools -->
    <!-- ***** -->
    <preference for="Praxigento\BonusHybrid\Tool\IScheme"
            type="Praxigento\BonusHybrid\Tool\Def\Scheme"/>

</config>