<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Common -->
    <preference for="Praxigento\Bonus\Hybrid\Lib\IToolbox"
                type="\Praxigento\Bonus\Hybrid\Lib\Tool\Box"/>

    <!-- Services -->
    <preference for="Praxigento\Bonus\Hybrid\Lib\Service\ICalc"
                type="Praxigento\Bonus\Hybrid\Lib\Service\Calc\Call"/>
    <preference for="Praxigento\Bonus\Hybrid\Lib\Service\IPeriod"
                type="Praxigento\Bonus\Hybrid\Lib\Service\Period\Call"/>

    <!-- Tools -->
    <preference for="Praxigento\Bonus\Hybrid\Lib\Tool\IScheme"
                type="Praxigento\Bonus\Hybrid\Lib\Tool\Def\Scheme"/>

</config>